# IDE and Project
*.iml
.gradle
/local.properties
/.idea/
.kotlin/
.artifacts/
.DS_Store
Thumbs.db

# Build artifacts
/build
/captures
/out
.externalNativeBuild
.cxx

# Secrets and configs
**/google-services.json

# Logs and temporary files
*.log
*.temp
*.tmp