<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name=".TaxiLog"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TaxiLog">
        <activity
            android:name=".ui.activities.LogActivity"
            android:windowTranslucentStatus="true"
            android:fitsSystemWindows="true"
            android:exported="false" />
        <activity
            android:name=".ui.activities.StartUpActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.AboutActivity"
            android:windowTranslucentStatus="true"
            android:fitsSystemWindows="true"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SettingsActivity"
            android:exported="false"
            android:windowTranslucentStatus="true"
            android:windowSoftInputMode="adjustResize"
            android:fitsSystemWindows="true"
            android:label="@string/title_settings" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:windowTranslucentStatus="true"
            android:fitsSystemWindows="true"
            android:launchMode="singleTop" />
    </application>
</manifest>